div.patellinis-contact-us-admin {
  width: 100%;
  max-width: 500px; }
  div.patellinis-contact-us-admin fieldset.locations label {
    width: 200px;
    font-weight: bold; }
  div.patellinis-contact-us-admin fieldset.locations .twoRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid red; }
    div.patellinis-contact-us-admin fieldset.locations .twoRow > div {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      list-style-type: none;
      border: 1px solid black; }
    div.patellinis-contact-us-admin fieldset.locations .twoRow > div.big {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      border: 1px solid red; }
