div.patellinis-contact-us-admin {
  border: 1px solid blue; }
  div.patellinis-contact-us-admin div.locations {
    width: 100%;
    position: relative;
    border: 1px solid green; }
    div.patellinis-contact-us-admin div.locations label {
      font-weight: bold; }
    div.patellinis-contact-us-admin div.locations .oneRow {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: .5em; }
      @media (max-width: 782px) {
        div.patellinis-contact-us-admin div.locations .oneRow {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 1em; } }
      @media (min-width: 782px) {
        div.patellinis-contact-us-admin div.locations .oneRow {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      div.patellinis-contact-us-admin div.locations .oneRow label {
        padding-right: 2em; }
      div.patellinis-contact-us-admin div.locations .oneRow input {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
    div.patellinis-contact-us-admin div.locations .twoRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 782px) {
        div.patellinis-contact-us-admin div.locations .twoRow > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 1em; }
          div.patellinis-contact-us-admin div.locations .twoRow > div label {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            padding-right: 2em; }
          div.patellinis-contact-us-admin div.locations .twoRow > div input {
            -webkit-box-flex: 2;
                -ms-flex-positive: 2;
                    flex-grow: 2; } }
      @media (min-width: 782px) {
        div.patellinis-contact-us-admin div.locations .twoRow {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          div.patellinis-contact-us-admin div.locations .twoRow > div {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            margin-top: .5em;
            margin-right: 1em; }
            div.patellinis-contact-us-admin div.locations .twoRow > div label, div.patellinis-contact-us-admin div.locations .twoRow > div select, div.patellinis-contact-us-admin div.locations .twoRow > div input {
              width: 100%; }
            div.patellinis-contact-us-admin div.locations .twoRow > div:last-child {
              margin-right: 0; } }
